<div class='panel panel-default day-of-trip'>
  <div class='panel-body'>
    <h4>Day 2</h4>
    <a class='btn btn-danger remove_fields' id='remove-day'>x</a>
  </div>
</div>
<br>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='nav nav-pills'>
      <li>
        <a class='btn btn-sm btn-default'>
          1
        </a>
      </li>
      <li>
        <a class='btn btn-sm btn-success'>
          +
        </a>
      </li>
    </ul>
  </div>
  <div class='panel-body'>
    <div id="itinerary">
        <div class='hotel-group'>
        <label>Hotels</label>
        <div class='row'>
          <div class='col-xs-12'>
            <ul class='HotelsChooser'>
            </ul>
          </div> 
        </div>
      </div>
      <div class='restaurant-group'>
        <label>Restaurants</label>
        <div class='row'>
          <div class='col-xs-12'>
            <ul class='RestaurantsChooser'>
            </ul>
          </div>
        </div>
      </div>
      <div class='activity-group'>
        <label>Activities</label>
        <div class='row'>
          <div class='col-xs-12'>
            <ul class='ActivitiesChooser'>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>










